jitwatch.out
jekyll/apidocs
jekyll/yardoc
jekyll/guide
jekyll/.*
jekyll/_site
jekyll/jsdoc
*.log
.vertx
.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
build
target
out
*.iml
*.ipr
*.iws
*.jfr
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
ScratchPad.java
src/main/resources/ext-js/*.js
src/main/java/io/vertx/java/**/*.java
*.swp
