[mysqld]
port=3306

max_allowed_packet=33554432
max_prepared_stmt_count=16382
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
local_infile=ON

require_secure_transport=ON
ssl-ca=/etc/mysql/tls/ca.pem
ssl-cert=/etc/mysql/tls/server-cert.pem
ssl-key=/etc/mysql/tls/server-key.pem
